footer {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    height: 97px;
    padding: 50px 5% 25px 5%;
    justify-content: space-around;
    width: 90%;
}

.footer-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-wrap: normal;
}

.footer-menu a {
    margin: 0 10px;
    color: var(--white);
}

.p2 {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--gray);
}

.footer-social {
    width: 246px;
    display: flex;
    justify-content: space-between;
}

/*
.footer-social a {
    margin: 0 20px;
}*/
