@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto+Mono:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --black: #1E1E1E;
    --gray: #7D7E81;
    --white: #FAFAFA;
}

body {
    background: var(--white);
}

main {
    padding-bottom: 72px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Roboto Mono', serif;
    font-weight: 500;
    font-size: 46px;
    color: var(--white);
}

h2 {
    font-family: 'Roboto Mono', serif;
    font-weight: 500;
    font-size: 40px;
    color: var(--black);
}

h3 {
    font-family: 'Roboto Mono', serif;
    font-weight: 500;
    font-size: 32px;
    color: var(--black);
}

.p1 {
    font-family: 'Open Sans', serif;
    font-weight: 400;
    font-size: 24px;
}

.italic-header {
    font-family: 'Roboto Mono', serif;
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
}